.header  {
  font-family: monospace;
  background: papayawhip;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin:7px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  
  display:flex;
  
  
}

/*
    A way more simples of solving, and creating space between the lists
    ul {
         display: flex;
         margin: 0;
         padding: 0;
         gap: 8px;
}

    DOING THIS, it doesn't need to creade a element css to li, as I did bellow.

*/

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

li {
  padding: 12px;
  
  margin: 5px;

}